<html>
  <head>
    <title>Show forms</title>
  </head>
  <body>

    <ul>
      <li>Address: {{tempHousehold.household.Address}}</li>
      <li>Zipcode: {{tempHousehold.household.Zipcode}}</li>
      <li>City: {{tempHousehold.household.City}}</li>
      <li>State: {{tempHousehold.household.State}}</li>
      <li>Bedrooms: {{tempHousehold.household.Bedrooms}}</li>
      {%for person in tempHousehold.persons%}
        <li>Firstname: {{person.Firstname}}</li>
        <li>Lastname: {{person.Lastname}}</li>
        <li>Email: {{person.Email}}</li>
        <li>Age: {{person.Age}}</li>
        <li>Gender: {{person.Gender}}</li>
      {%endfor%}
      {%for vehicle in tempHousehold.vehicles%}
        <li>Make: {{vehicle.Make}}</li>
        <li>Modelname: {{vehicle.Modelname}}</li>
        <li>Year: {{vehicle.Year}}</li>
        <li>Licenceplate: {{vehicle.Licenceplate}}</li>
      {%endfor%}
    </ul>
    <a href="/savedata">Save data</a>


  </body>
</html>
