<html>
  <head>
    <title>Show forms</title>
  </head>
  <body>

    <ul>
      <li>Address: {{tempHousehold.household.Address}}</li>
      <li>Zipcode: {{tempHousehold.household.Zipcode}}</li>
      <li>City: {{tempHousehold.household.City}}</li>
      <li>State: {{tempHousehold.household.State}}</li>
      <li>Bedrooms: {{tempHousehold.household.Bedrooms}}</li>
      <li>Firstname: {{tempHousehold.person.Firstname}}</li>
      <li>Lastname: {{tempHousehold.person.Lastname}}</li>
      <li>Email: {{tempHousehold.person.Email}}</li>
      <li>Age: {{tempHousehold.person.Age}}</li>
      <li>Gender: {{tempHousehold.person.Gender}}</li>
      <li>Make: {{tempHousehold.vehicle.Make}}</li>
      <li>Modelname: {{tempHousehold.vehicle.Modelname}}</li>
      <li>Year: {{tempHousehold.vehicle.Year}}</li>
      <li>Licenceplate: {{tempHousehold.vehicle.Licenceplate}}</li>
    </ul>
    <a href="/savedata">Save data</a>


  </body>
</html>
