<html>
  <head>
    <title>My app</title>
  </head>
  <body>
    <form method='POST' action="">
      {% csrf_token %}
      <label>Make:</label>
        <input type="text" name="Make" required><br/>
      <label>Modelname:</label>
        <input type="text" name="Modelname" required><br/>
      <label>Year:</label>
        <input type="number" name="Year" required><br/>
      <label>Licenceplate:</label>
        <input type="text" name="Licenceplate" required><br/>

      <button type='submit'>Next</button>
    </form>

    <a href="/vehicleview"> Add Vehicle </a>
  </body>
</html>
